venv
# 기능별 ~
accounts/.cph
management/.cph
accounts/__init__.
Message_Chat_app/.cph
Message_Chat_app/__init__.
schduler/__init__.
schduler/migration/__init__.
.env
# 스트림 릿꺼
streamlit_app/__init__.
streamlit_app/.
# simpleapp 꺼
SimpleApp/__init__.
SimpleApp/.gitignore
SimpleApp/db.sqlite3
.DS_store

__pycache__
__init__.env
__init____pycache__/

## migration
accounts/migrations
accounts/management
Message_Chat_app/migrations
schduler/migrations
# virtual environment
Djangoenv